
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
body{
  /* background-color: rgb(152, 160, 235); */
}
.hidden {
  display: none
}
/* TOP BAR */

.topWrapper{
  text-align: center;
}
.title{
  font-size: 1.5rem;
  padding:7px;
  /* border-top: solid 1px blueviolet;
  border-bottom: solid 1px blueviolet; */
  width:20%;
  margin:10px auto;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 100;
  /* font-style: italic; */
}
.title i{
 margin:0 10px 0 0px;
}
.mainBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px auto 10px auto;
  width:95%;
  height:60px;
  border:1px solid blueviolet;
  background-color: blueviolet;
  /* background-color: cyan; */
  color: aliceblue;
}
.mainInnerWrapper {
  display: flex;
  align-items: center;
  height:75%;
  width:90%;
  border-top: white 1px solid;
  border-bottom: white 1px solid;
}

/* ///  FILTERS /// */

.checkBoxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height:26px;
  width:35%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .8rem;
  background-color: rgb(255, 255, 255);
  color: blueviolet;
  margin:0 50px 0 0px;
}
.checkBoxWrapper span {
  margin:0 10px;
}
.checkBoxWrapper input {
  margin-right:10px;
  color: blueviolet;
  background-color: blueviolet;
}

.searchbarWrapper {
  margin: 0 20px;
  width: 35%
}
.searchbarWrapper input {
  width: 90%;
  height: 20px;
  padding-left:10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .8rem;
  color: blueviolet;
}

/* GRID */

.gridWrapper{
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  text-align: center;
  justify-content: flex-start;
  align-content: flex-start;
  /* padding:10px; */
  height:75vh;
  width:95%;
  margin: 5px auto 5px auto;
  border:1px solid blueviolet;
  background-color: aliceblue;
}

/* BOOK */

.bookWrapper{
  /* position: relative; */
  margin:2px;
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:150px;
  height:240px;
  /* border-right:.5px solid blue; */
  background-color: rgba(32, 32, 255, 0.041);
}
.bookWrapper h5{
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.2rem;
  margin: 2px;;
}
.bookWrapper h6{
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 300;
  margin: 2px;;
}
.bookWrapper img{
  border:1px solid cyan;
  height:195px;
  width:125px;
  object-fit: cover;
}
.red {
  background-color: rgba(220, 20, 60, 0.609);
}
.cyan {
  background-color: rgba(0, 195, 255, 0.904)
}
.bookDetailsText{
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background-color: rgba(0, 195, 255, 0.904); */
  position: absolute;
  height:196px;
  width:127px;
  top: -197px;
  right: -65px;
  /* bottom:190px; */
}
/* .bookDetailsText{
  position: absolute;
  background-color:  cyan;
  height:190px;
  width:125px;
} */
.bookDetailsTextWrapper{
  position: relative;
  /* bottom:-190px; */
}

.bookDetailsButton {
  position: absolute;
  right:-63px;
  bottom:-17px;
  margin:5px 0 5px 0;
  display: flex;
  align-items: center;
  height:15px;
  border-top: 1px cyan solid;
  border-bottom: 1px cyan solid;
  margin-top: 6px;
  width:125px;
  /* border:cyan 1px solid; */
}
.spacer{
  position: relative;
  height: 10px;
}
.bookDetailsButton button {
  cursor: pointer;
}
.bookDetailsButton span {
  margin:0px;
  color: blueviolet;
  font-family: 'Roboto', sans-serif;
  font-size: .5rem;
  cursor: pointer;
  padding: 0 5px 0 5px
}
.bookDetailsButton span:hover{
  text-decoration: underline;
}

.bookIsRead{
  font-size: 1.3rem;
  color: blueviolet;
  background-color: white;
  border-radius: 50px;
  /* border: blueviolet px solid; */
  position: absolute;
  z-index: 1;
  left:37px;
  bottom:12px;
}
.deleteDiv{
  cursor: pointer;
}
.bookDelete {
  font-size: 2.5rem;
}
.bookDeleteText{
  margin:5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;

}

/* ADD BOOK FORM */

.addBookFormWrapper {
  height:50px;
  width: 95%;
  margin:15px auto 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
  border: blueviolet 1px solid;
}
.addBookFormWrapper input {
  margin: 5px;
}
.addBookFormWrapper .error {
  color: red;
  font-size: .6rem;
  margin:0px;
  font-family: 'Roboto', sans-serif;
}


/* // BOOK DEETZ // */
.visible{
  /* margin:auto 0; */
  width:100%;
  height:100%;
  display: block;
  z-index: 5;
  position: absolute;
}

.bookDeetzWrapper{
  position: absolute;
  left: 46%;
  top: 35%;
  transform: translate(-50%,-50%);
  background-color: rgba(137, 43, 226, 0.945);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50vh;
}
.editForm{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editForm input {
  text-align: center;
  height:20px;
  margin:3px 0;
}

.editForm button {
  width:120px;
  margin: 15px auto 3px auto;
}

#bookDeetz{
  margin: 0 auto;
}

.formCancel{
  cursor: pointer;
  font-size: .8rem;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: azure;
  font-weight: 100;
}